body{
    background-color: #3482af;
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3da52f; 
  color: white;
  text-decoration: none;
  border-radius: 2px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #7B2CBF; 
}

.redonda {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 5%;
  object-fit: cover;
}
.banner {
  display: block;
  margin: 20px auto;
  width: 100%; 
  max-width: 1000px; 
  border: 5px solid #333; 
  border-radius: 16px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}